@import url('https://fonts.googleapis.com/css?family=Chivo|Timmana|Spectral');

  body {
    background: white;
    color: black;
    vertical-align: middle;
    font-family: 'Spectral', serif;
    font-size: 14px;;
    text-decoration: none;;
  }

  p {
    font-family: 'Spectral', serif;
    font-size: 20px;
    line-height: 110%;
  }

  #header {
    background-image: url("images/bgheader.png");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*parallax*/
    padding-bottom: 100px;
    }

  h1 {
    font-family: 'Timmana', sans-serif;
    font-size: 80px;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 120px;
    line-height: 90%;
  }

  h2 {
    font-family: 'Spectral', serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    padding: 10px 50px 0 50px;

  }

  h3 {
    font-family: 'Chivo', sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
  }

  h4 {
    font-family: 'Chivo', sans-serif;
    font-size: 22px;
    color: black;
  }

#menu {
  font-size: 30px;
  font-family: 'Timmana', sans-serif;
  background: black;
  color: white!important;
}

  #logoimg {
  height: 55px;
  vertical-align: middle;
  }

  #colbtn {
    height: 65px;
  }

#menuitems li {
  padding: 15px 20px 0 15px;
  color: white;
  vertical-align: middle;
}

#menuitems li:hover {
  background: #57c0a1;
}

  a {
    text-decoration: none;
    color: inherit;
  }
  a:visited {
    text-decoration: none;
    font-weight: bolder;
    color: inherit;
  }
  a:active {
      text-decoration: none;
      color: inherit;
  }

  #bio {
    padding-top: 160px;
    clear: both;
    padding-bottom: 240px;
  }

  #whoami {
  width: 100%;
  vertical-align: middle;
  }

  #biotext {
    text-align: right;
    vertical-align: middle;
  }

  #impressya {
    clear: both;
    padding-bottom: 100px;
    width: 100%;
  }

#impressya h3 {
  padding-left: 15px;
}

  #impressyaimg {
    width: 100%;
  }

  #impressyaimg2, #impressyaimg3, #impressyaimg4 {
    padding-top: 20px;
    width: 100%;
  }

  #impressyatext {
    text-align: left;
    vertical-align: top;
  }

  #impressyatext a {
    font-weight: bold;
  }

  #impressyatext a:hover {
    color: #57c0a1;
    font-weight: bolder;
    text-decoration: none;
  }

  #googleme {
    clear: both;
    padding-bottom: 100px;
    padding-top: 20px;
    width: 100%;
  }

  #socmedicons img {
    width: 100%;
    padding: 5px 5px 5px 10px;
  }

  #googlemetext {
    text-align: right;
  }

  #narcissismonhigh {
    clear: both;
    padding: 100px 0 100px 0;
  }

  #narcissismonhigh h3 {
    font-size: 80px;
    text-align: center;
  }

  #ineednewfriends {
    clear: both;
    padding-bottom: 150px;
    width: 100%;
  }
#ineednewfriends h3 {
  padding-left: 15px;
}

#form-main{
	width:100%;
	padding-top:5px;
	padding-bottom:50px;
  z-index: 999;
  color: black;
}

.feedback-input {
	color:black;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #eeeeee;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #57c0a1;
	color: #57c0a1;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(images/user.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(images/user.png);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(images/email.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(images/email.png);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#message{
	background-image: url(images/pencil.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 120px;
    line-height: 120%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#buttoncolor{
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #57c0a1;
	color:white;
  font-family: 'Chivo', sans-serif;
	font-size:20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  padding: 10px 0 10px 0;
}

#buttoncolor:hover{
	color: #57c0a1;
  background-color:white;
  border: #57c0a1 solid 4px;
}

#map {
  padding-top: 5px;
}

@media only screen and (min-width:768px) {

  body {
    background: white;
    color: black;
    vertical-align: middle;
    font-family: 'Spectral', serif;
    font-size: 14px;;
    text-decoration: none;;
  }

  p {
    font-family: 'Spectral', serif;
    font-size: 20px;
    line-height: 140%;
  }

  #header {
    background-image: url("images/bgheader.png");
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*parallax*/
    padding-bottom: 100px;
    }

  h1 {
    font-family: 'Timmana', sans-serif;
    font-size: 80px;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 160px;
  }

  h2 {
    font-family: 'Spectral', serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
  }

  h3 {
    font-family: 'Chivo', sans-serif;
    font-size: 36px;
    color: black;
    font-weight: bold;
  }

  h4 {
    font-family: 'Chivo', sans-serif;
    font-size: 22px;
    color: black;
  }

#menu {
  font-size: 30px;
  font-family: 'Timmana', sans-serif;
  background: black;
  color: white!important;
}

  #logoimg {
  height: 55px;
  vertical-align: middle;
  }

  #colbtn {
    height: 65px;
  }

#menuitems li {
  padding: 15px 20px 0 15px;
  color: white;
  vertical-align: middle;
}

#menuitems li:hover {
  background: #57c0a1;
}

  a {
    text-decoration: none;
    color: inherit;
  }
  a:visited {
    text-decoration: none;
    font-weight: bolder;
    color: inherit;
  }
  a:active {
      text-decoration: none;
      color: inherit;
  }

  #bio {
    padding-top: 160px;
    clear: both;
    padding-bottom: 240px;
  }

  #whoami {
  width: 100%;
  vertical-align: middle;
  }

  #biotext {
    text-align: right;
    vertical-align: middle;
  }

  #impressya {
    clear: both;
    padding-bottom: 100px;
    padding-top: 100px;
    width: 100%;
  }

  #impressyaimg {
    width: 100%;
  }

  #impressyaimg2, #impressyaimg3, #impressyaimg4 {
    display: none!important;
  }


  #impressyatext {
    text-align: left;
    vertical-align: top;
  }

  #impressyatext a {
    font-weight: bold;
  }

  #impressyatext a:hover {
    color: #57c0a1;
    font-weight: bolder;
    text-decoration: none;
  }

  #googleme {
    clear: both;
    padding-bottom: 100px;
    padding-top: 100px;
    width: 100%;
  }

  #socmedicons img {
    width: 30%;
    padding: 5px 20px 5px 20px;
  }

  #googlemetext {
    text-align: right;
  }

  #narcissismonhigh {
    clear: both;
    padding: 200px 50px 200px 50px;
  }

  #narcissismonhigh h3 {
    font-size: 80px;
    text-align: center;
  }

  #ineednewfriends {
    clear: both;
    padding-bottom: 150px;
    width: 100%;
  }

  #form-main{
  	width:95%;
  	padding-top:35px;
  	padding-bottom:50px;
    z-index: 999;
    color: black;
  }

  .feedback-input {
  	color:black;
  	font-size: 18px;
  	border-radius: 0;
  	line-height: 22px;
  	background-color: #eeeeee;
  	padding: 13px 13px 13px 54px;
  	margin-bottom: 10px;
  	width:100%;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }

  .feedback-input:focus{
  	background: #fff;
  	box-shadow: 0;
  	border: 3px solid #57c0a1;
  	color: #57c0a1;
  	outline: none;
    padding: 13px 13px 13px 54px;
  }

  .focused{
  	color:#30aed6;
  	border:#30aed6 solid 3px;
  }

  /* Icons ---------------------------------- */
  #name{
  	background-image: url(images/user.png);
  	background-size: 30px 30px;
  	background-position: 11px 8px;
  	background-repeat: no-repeat;
  }

  #name:focus{
  	background-image: url(images/user.png);
  	background-size: 30px 30px;
  	background-position: 8px 5px;
    background-position: 11px 8px;
  	background-repeat: no-repeat;
  }

  #email{
  	background-image: url(images/email.png);
  	background-size: 30px 30px;
  	background-position: 11px 8px;
  	background-repeat: no-repeat;
  }

  #email:focus{
  	background-image: url(images/email.png);
  	background-size: 30px 30px;
    background-position: 11px 8px;
  	background-repeat: no-repeat;
  }

  #message{
  	background-image: url(images/pencil.png);
  	background-size: 30px 30px;
  	background-position: 11px 8px;
  	background-repeat: no-repeat;
  }

  textarea {
      width: 100%;
      height: 150px;
      line-height: 120%;
      resize:vertical;
  }

  input:hover, textarea:hover,
  input:focus, textarea:focus {
  	background-color:white;
  }

  #buttoncolor{
  	width: 100%;
  	border: #fbfbfb solid 4px;
  	cursor:pointer;
  	background-color: #57c0a1;
  	color:white;
    font-family: 'Chivo', sans-serif;
  	font-size:20px;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
    padding: 10px 0 10px 0;
  }

  #buttoncolor:hover{
  	color: #57c0a1;
    background-color:white;
    border: #57c0a1 solid 4px;
  }

#map {
  padding-top: 35px;
}
}
